
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-palette: (
  50 : #fcfbfa,
  100 : #f8f6f3,
  200 : #f4f0ec,
  300 : #efe9e4,
  400 : #ebe5de,
  500 : #e8e0d8,
  600 : #e5dcd4,
  700 : #e2d8ce,
  800 : #ded3c8,
  900 : #d8cbbf,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$accent-palette: (
  50 : #fbf7f1,
  100 : #f4eadd,
  200 : #edddc6,
  300 : #e6cfaf,
  400 : #e0c49d,
  500 : #dbba8c,
  600 : #d7b384,
  700 : #d2ab79,
  800 : #cda36f,
  900 : #c4945c,
  A100 : #ffffff,
  A200 : #fffdfa,
  A400 : #ffe4c7,
  A700 : #ffd8ad,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$laura-mcguire-portfolio-primary: mat-palette($primary-palette, 500);
$laura-mcguire-portfolio-accent: mat-palette($accent-palette, 500);

// The warn palette is optional (defaults to red).
$laura-mcguire-portfolio-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$laura-mcguire-portfolio-theme: mat-light-theme((
  color: (
    primary: $laura-mcguire-portfolio-primary,
    accent: $laura-mcguire-portfolio-accent,
    warn: $laura-mcguire-portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($laura-mcguire-portfolio-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");