#header-background {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background-color: rgb(36, 51, 51);
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.05;
  }
}

#name-svg {
  width: 60vw;
  text-align: center;
  margin: 24px 20vw;
  height: fit-content;
}

.header {
  &-subtitle {
    font-family: "Mulish", sans-serif;
    text-align: center;
  }
  &-greeting {
    font-size: 3vw;
    line-height: normal;
    animation: fadeIn linear 3s;
    color: #deb073;
  }
  &-profession {
    font-size: 4vw;
    line-height: normal;
    animation: fadeIn linear 3s;
    color: rgb(143,130,114);
  }
  &-slogan {
    color: rgb(219, 186, 140);
    animation: fadeIn linear 3s;
    font-size: 2.5vw;
    padding-top: 15px;
  }
  &-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}